extends layout 

block content 
    h1 #{title}: #{genre.name}

    if genre_books.length 
        p #[strong Delete these books after attempting to delete this genre.]

        div(style='margin-top:20px;margin-left:20px')
            h4 Books
            dl
            each book in genre_books
                dt  
                    a(href=book.url) #{book.title}
                dd #{book.summary}
    else 
        p Do you really wish to delete this genre
        form(method='POST' action='')
            div.form-group
                input.form-control#genreid(type='hidden', value=genre._id, name='genreid', required='true')

            button.btn.btn-primary(type='submit') Delete